{% extends "navBar.html"%}

{%block content%}
    <h1>Menu</h1>
    <form action = "{{url_for('enqueue')}}" method="POST" enctype="multipart/form-data">
    <div class="container my-5">
    <div class="row">
        {% for item in stock_items %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ url_for('static', filename='images/' + item['IMG']) }}" 
                     alt="{{ item['Name'] }}" 
                     class="card-img-top" 
                     style="height: 200px; object-fit: cover;"> <!-- ปรับขนาดรูปภาพให้เท่ากัน -->
                <div class="card-body">
                    <h5 class="card-title">{{ item['Name'] }}</h5>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <label class="card-text ">จำนวน: {{ item['QTY'] }}</label> <!-- จำนวนสินค้า -->
                        <div style="display: flex; align-items: center;">
                            <label style="margin-right: 10px;">จำนวนที่สั่ง</label> <!-- ระยะห่างระหว่าง label และ input -->
                            <input type="number" id="num_{{ item['ID'] }}" name="num_{{ item['ID'] }}" min="0" max="{{ item['QTY'] }}" value="0" style="width: 150px;"> <!-- Input สำหรับกรอกจำนวน -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container-fluid" style="position: fixed; bottom: 0; left: 0; right: 0;">
        <input type="submit" value="เพิ่มลงในคิว" class="btn btn-success btn-block my-2" style="width: 100%;">
    </div>
</div>
</form>
{%endblock%}